// $font-1 {
//     font-family: "Alex Brush", cursive;
//     font-weight: 400;
//     font-style: normal;
// }

// $font-2 {
//     font-family: "Agbalumo", system-ui;
//     font-weight: 400;
//     font-style: normal;
// }
  
// li { list-style: none !important; }

header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#welcome-bg { 
    position: relative;
    width: 100%;
    height: 100vh !important;
    overflow: hidden;
}

#welcome-bg video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100% !important;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

// #welcome-bg .content {
//     position: relative;
//     color: white;
//     text-align: center;
//     font-family: Arial, sans-serif;
//     z-index: 1;
// }

// #welcome-bg .content h1 {
//     font-size: 3rem;
// }

// #welcome-bg .content p {
//     font-size: 1.5rem;
// }

nav {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    position: sticky;
    ul {
        list-style: none; 
        display: flex;
        width: 30%;
        justify-content: space-around;
        margin-top: 20px;
    }
}

#nav-list {
    display: flex;
    list-style: none;
}

// #slogan { $font-1; }
// .title { $font-2; }

#search-bar {
    margin: 20px 20px 0;
}

.bubbles {
    img {
        border-radius: 50%;
        height: 230px;
        width: 230px;
        transition: 0.5s;
        }
    img:hover {
        width: 250px;
        height: 250px;
    }    
}

.cards {
    // background-image: ;
    display: flex;
    
}







footer {
    width: 100%;
    height: 70px;
    display: flex;
    flex-flow: column wrap;
    list-style: none;
    img {
        width: 100%;
        height: 200px;
        opacity: 0.5;
    }
    #block-left, 
    #block-middle-left, 
    #block-middle-right, 
    #block-right
        { flex-direction: column; }

}