// Always start you CSS by importing (fonts, icons, etc ...)
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

/* declaring variables and its arguments is kinda tricky */
$font-1:(
    font-family:  "Agbalumo", //SASS accepts only one argument, meanwhile CSS aceepts many
    font-weight: 400,
    font-style: normal,
);

$font-2 :(
    font-family: 'Dancing Script',
    font-optical-sizing: auto,
    font-weight: weight,
    font-style: normal,
);

// li { list-style: none !important; }

header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#welcome-bg { 
    video {
        width: 100%;
        height: 700px;
        object-fit: cover;
        z-index: -1;
    }
}

nav {
    display: flex;
    justify-content: space-around;
    .nav-bar {
        .bg {
            background-image: url(./media/images/arabesque.jpg);
            opacity: 0.4;
        }
        display: flex;
        align-items: center;
        width: 100%;
        height: 80px;
        margin-top: -5px;
    }
    #logo {
        height: 60px;
        padding-left: 30px;
        }
    #nav-list {
    display: flex;
    list-style: none;

        ul {
            list-style: none; 
            display: flex;
            width: 500px;
            justify-content: space-around;
            margin-top: 20px;
            padding-left: 50px;
        }
    }
}
    a {color: red;}



// Mixin to apply the styles
@mixin font-1 {
    @each $property, $value in $font-1 {
    #{$property}: $value;
    }
}
  // Mixin to apply the styles
@mixin font-2 {
    @each $property, $value in $font-2 {
    #{$property}: $value;
    }
}
#slogan { 
    @include font-1;
    margin-left: 50px;
    padding-right: 20px;
    color: red;
}

.title { @include font-2; }

#search-bar { margin: 20px 20px 0; }

#top-dest{
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-around;
    .bubbles {
        img {
            border-radius: 50%;
            height: 230px;
            width: 230px;
            transition: 0.5s;
            }
        img:hover {
            width: 250px;
            height: 250px;
        }    
    }
}

.cards {
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
}







footer {
    width: 100%;
    height: 70px;
    display: flex;
    flex-flow: column wrap;
    list-style: none;
    img {
        width: 100%;
        height: 200px;
        opacity: 0.5;
    }
    #block-left, 
    #block-middle-left, 
    #block-middle-right, 
    #block-right
        { flex-direction: column; }

}

